* {
margin: 0;
padding: 0;
box-sizing: border-box;    
}

section {
  padding: 80px 0px; 
}

body{    
background-color: black;
color: white;
font-family: Arial, Helvetica, sans-serif;
text-align: left;
line-height: 1.6;
margin: 0;
}

.menu {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;  
}

.menu ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  list-style-type: none;
}

.menu a {
  color:#cdb5f5;
  text-decoration: none;
  font-size: 1.2em;
  max-width: 90%;
}

.menu a:hover {
  color: #f3d3d3;
}

@media (max-width : 360px){
   .menu ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
   }

   .menu a {
     font-size: 1.5em;
     max-width: none;
   }
}

#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 20px;
}


.minha_foto img{
width: 220px;
height: 220px;
border-radius: 50%;
object-fit: cover;
border: 3px solid #ddd;
}

#inicio {
  max-width: 520px;
  line-height: 1.6;
  text-align: right;
}

@media (max-width: 768px){
  #inicio {
    flex-direction: column;
    text-align: center;
  }
}

.section {
  padding: 60px 0;
}

#sobre-mim {
  max-width: 700px; 
  margin: 0 auto;
  padding:60px 20px;
  text-align: center; 
}

#sobre-mim h2{
  margin-bottom: 20px;
  font-size: 32px;
}

#sobre-mim p{
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 12px;
}

#minhas-redes {
  display: flex;
  gap: 2.2rem;
}

.social-icons {
  display: flex;
  gap: 16px;
}

.social-icons a {
width: 44px;
height: 44px;
color: #b149b1;
border-radius: 50%;
display: flex;
align-items: flex-end;
justify-content: flex-end;
text-decoration: none;
transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons i{
  font-size: 20px;
  color: #fff;
}

#skills h2{
  text-align: center;
  margin-top: 2rem;
}


.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 250px));
  justify-content: center;
  gap: 1.5rem;
  margin-top: 2rem;
}

.skill-card{
  background-color: #8b58e9;
  padding: 1.2rem;
  border-radius: 12px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
  gap: 0.8rem; 
  font-weight: 500;
  transition: transform 0.2s ease, box-shadow 0.2s; 
}

.skill-card img {
  width: 24px;               /* tamanho profissional */
  height: 24px;
}

.skill-card:hover {
 transform: translateY(-4px);
 box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

#projects{
max-width: 1100px;
margin: 0 auto; 
padding: 2rem; 
}

#projects h2{
text-align: center;
margin-bottom: 3rem;
}

.projects-container {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
 gap: 2rem; 
}

.project-card {
padding: 1.5px;
border-radius: 12px;
display: flex;
flex-direction: column;
gap: 1rem;
text-decoration: solid;
justify-content: space-between;
}

.project-card:houver {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(139, 88, 233, 0.4);
}

.btn-github{
margin-top: auto;
}

.btn-github {
  display: inline-block;
  margin-top: 1.5rem;
  align-self: flex-start;
  background-color: #7c3aed; /* roxo elegante */
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-github:hover {
  background-color: #9f67ff;
}

.timeline {
  max-width: 800px;
  margin: 4rem auto;
  position: relative;
  padding-left: 3rem;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 18px;
  top: 0;
  width: 2px;
  height: 100%;
  background: #6c3df4; 
}

.timeline-item {
  position: relative;
  padding-left: 60px;
  margin-bottom: 3rem;
}

.timeline-icon {
  background:#6c3df4;
  left: 0;
  width: 36px;
  height: 36px;
  transform: translateX(0);
  border-radius: 50%;
  display: flex;
  color: #ffff;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.timeline-content {
  background:#8b58e9;
  padding: 1.5rem;
  border-radius: 12px;
}

.timeline-year {
  font-size :0.85rem;
  color: #9ca3af;
  font-weight: 600;
  display:block;
  margin-bottom: 0.5rem;
}

.timeline-content h3{
  margin-bottom: 0.6rem;
}

#Contato {
max-width: 500px; 
margin: 4rem auto 0;
padding: 2rem;
text-align: center;
}

#Contato form {
display: flex;
flex-direction: column;
gap: 0.8rem;
margin-top: 1rem; 
}

#Contato input,
#Contato textarea {
width: 100%; 
padding: 0.75rem 1rem;
font-size: 1rem;
color: #e5e7eb;
background-color: #111;
border: 1px solid #6c3df4;
border-radius: 6px;
}

#Contato input::placeholder,
#Contato textarea::placeholder {
  color: #9ca3af;
  font-size: 0.95rem;
  font-family: inherit;
}

#Contato button {
  margin-top: 1rem;
  padding: 0.8rem;
  background-color: #7c3aed;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#Contato button:hover {
  background-color: #9f67ff;
  transform: translateY(-2px);
}

footer {
max-width: 1100px;
margin: 4rem auto 0;
padding: 2rem;
text-align: center;
}

footer p{
font-size: 0.9rem;
margin-bottom: 1rem;
color: #cdb5f5;
}

.footer .Minhas-Redes{
margin-top: 2rem;
justify-content: center;
}

#minhas-redes{
display: flex;
justify-content: center; 
}

.social-icons {
  display: flex;
  gap: 16px;
}

.social-icons a {
width: 44px;
height: 44px;
color: #b149b1;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons i{
  font-size: 20px;
  color: #fff;
}

.social-icons a:hover {
transform: translateY(-4px);  
box-shadow: 0 8px 20px rgba(108, 61, 244, 0.4);
}

